body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;	
	overflow-y: scroll;
}

a {
	color: #01579B;
}

.post_title {
	margin-top: 0;
}

.post_title a:visited, a:hover {
	color: #004D40;
}

.container-fluid {
	padding: 0;
}

#headerNav {
	margin-top: 30px;
}

#headerNav a {
	padding: 10px;
	background: #FFF;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#yourProfile {
	background: #D1C4E9 !important;
}

nav ul.pagination li {
	text-align: center;
}

.row {
	margin: 0;
}

#hWrapper {
	background: #7CB342;
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
}

#wrapper {
	margin-top: 105px;
}

.right {
	float: right;
}

/* Header Styling */

.lighten-DU span {
	color: #ce4844;
	font-size: 25px;
}

.lighten-DU:hover span {
	color: #FFAEAA;
}

/* Login Dropdown in Header */

#login-dp {
min-width: 250px;
padding: 15px 15x 0;
overflow:hidden;
background-color:rgba(255,255,255,.9);
}

#login-dp .btn {
    color: white;
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* Divider */

.sidebar-divider {
	width: 80%;
	margin: 0px;
	margin-top: 15px;
    height: 1px;
    background: #ddd;
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
}

/* Password Feedback */

#pwfeedback {
	color: red;
}

.sortable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	margin: 5px;
	padding: 2px 15px 2px 0px;
	height: 100%;
	font-size: 10px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.sortable li:hover {
	border: 1px solid #888;
}

.handle {
	cursor: move;
}

.sortable li#disabled {
	list-style: none;
	border: 1px dashed #CCC;
	background: none;
	margin: 5px;
	padding: 0px;
	height: 100%;
	font-size: 18px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.sortable li#disabled-again {
	list-style: none;
	border: 1px dashed #CCC;
	background: none;
	margin: 5px;
	padding: 0px;
	height: 100%;
	font-size: 18px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	list-style: none;
	background: none;
	margin: 5px;
	padding: 5px;
	height: 60px;
}

.zero-clipboard {
    position: relative;
    display: none
}

.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}

.btn-clipboard-hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c
}

@media (min-width:768px) {
    .zero-clipboard {
        display: block
    }

    .bs-example + .zero-clipboard .btn-clipboard {
        top: -16px;
        border-top-right-radius: 0
    }
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout-right {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-right-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-parent {
    border-left-color: #ce4844
}

.bs-callout-parent h4 {
    color: #ce4844
}

.bs-callout-child {
    border-left-color: #000
}

.bs-callout-child h4 {
    color: #000
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4 {
    color: #1b809e
}

.event-edit, .event-edit-date, .event-edit-title, .event-edit-select, .expenditure-edit, .expenditure-edit-title, .event-edit-textarea, .expenditure-edit-textarea {
    color: #ce4844;
}

.event-list-item, .expenditure-list-item {
    cursor: pointer;
}

.event-edit input, .expenditure-edit input {
	border-radius: 4px;
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.event-edit-textarea button, .expenditure-edit-textarea button {
	color: #ce4844;
	border: 1px solid #ce4844;
	background: transparent;
	border-radius: 4px;
	margin-top: 15px;
	margin-right: 15px;
    display: block;
}

.event-edit-textarea button:hover, .expenditure-edit-textarea button:hover {
	color: white;
    border-color: #ce4844;
    background: #ce4844;
}

.event-edit button, .event-edit-date button, .event-edit-title button, .event-edit-select button, .expenditure-edit button, .expenditure-edit-title button {
	color: #ce4844;
	border: 1px solid #ce4844;
	background: transparent;
	border-radius: 4px;
	margin-left: 15px;
}

.event-edit button:hover, .event-edit-date button:hover, .event-edit-title button:hover, .event-edit-select button:hover, .expenditure-edit button:hover, .expenditure-edit-title button:hover {
	color: white;
    background: #ce4844;
}

/* DatePicker Styles */

table.jCalendar {
    border: 1px solid #000;
    background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}

table.jCalendar th {
    background: #333;
    color: #fff;
    font-weight: bold;
    padding: 3px 5px;
}

table.jCalendar td {
    background: #ccc;
    color: #000;
    padding: 3px 5px;
    text-align: center;
}

table.jCalendar td.other-month {
    background: #ddd;
    color: #aaa;
}

table.jCalendar td.today {
    background: #666;
    color: #fff;
    font-weight: bold;
}

table.jCalendar td.selected {
    background: #f66;
    color: #fff;
    font-weight: bold;
}

table.jCalendar td.selected:hover {
    background: #f33;
    color: #fff;
}

table.jCalendar td:hover, table.jCalendar td.dp-hover {
    background: #fff;
    color: #000;
}

table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
    background: #bbb;
    color: #888;
}

div#dp-popup {
    position: absolute;
    font-size: 10px;
    font-family: arial, sans-serif;
    background: #ccc;
    padding: 2px;
    min-height: 172px;
    min-width: 171px;
}

div#dp-popup h2 {
    font-size: 12px;
    text-align: center;
    margin: 2px 0;
    padding: 0;
}

a#dp-close {
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
    display: block;
}

a#dp-close:hover {
    text-decoration: underline;
}

div#dp-popup a {
    color: #000;
    text-decoration: none;
    padding: 3px 2px 0;
}

div#dp-popup div#dp-nav-prev {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 100px;
}

div#dp-popup div#dp-nav-prev a {
    float: left;
}

div#dp-popup div#dp-nav-prev a, div#dp-popup div#dp-nav-next a {
    cursor: pointer;
}

div#dp-popup div#dp-nav-prev a.disabled, div#dp-popup div#dp-nav-next a.disabled {
    cursor: default;
}

div#dp-popup div#dp-nav-next {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 100px;
}

div#dp-popup div#dp-nav-next a {
    float: right;
}

div#dp-popup a.disabled {
    cursor: default;
    color: #aaa;
}

div#dp-popup td {
    cursor: pointer;
}

div#dp-popup td.disabled {
    cursor: default;
}

a.dp-choose-date {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 5px 3px 0;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
    background: url(../img/calendar.png) no-repeat;
}
	
/* END OF JCAL    */ 

.redButton {
	background-color: #ce4844 !important;
	color: white !important;
}

.redButton:hover, .whiteButton:hover, .deleteButton:hover {
	background-color: #000 !important;
	color: white !important;
}

.whiteButton, .deleteButton {
	background-color: #ffffff !important;
	color: #767676; !important;
}

/* FRONT PAGE */

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.section-services {
  background: #EBEDEC;
  padding: 120px 0px;
}

#contact a {
    color: white;
}

#contact a:hover {
    color: black;
    text-decoration: none;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

#welcome {
  background-image: url(../img/intro-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  margin: -80px 0px 0px 0px;
  height: 100%;
}

#welcome .container {
  padding: 300px 0;
}

#welcome:before {
  content: "";
  position: absolute;
  opacity: .5;
  background: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#welcome .container {
  position: relative;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0.75), rgba(256, 256, 256, 0));
}

@media (max-width: 1023px) {
    .check-if-not-mobile {
        display: none;
    }
}
@media (min-width: 1024px) {
    .check-if-mobile {
        display: none;
    }
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* FOOTER */

#contact {
    background: #ce4844;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

/* MORRIS CSS */

.morris-hover {
    position:absolute;z-index:1000
}

.morris-hover.morris-default-style{
    border-radius:10px;
    padding:6px;color:#666;
    background:rgba(255,255,255,0.8);
    border:solid 2px rgba(230,230,230,0.8);
    font-family:sans-serif;
    font-size:12px;text-align:center
}

.morris-hover.morris-default-style .morris-hover-row-label{
    font-weight:bold;
    margin:0.25em 0
}

.morris-hover.morris-default-style .morris-hover-point{
    white-space:nowrap;
    margin:0.1em 0
}

.huge {
    font-size: 50px;
    line-height: normal;
}

.orgAdd:hover, .userDelete:hover, .organizationDelete:hover {
    color: #ce4844;
    cursor: pointer;
}