<template name="Footer">
	<div class="footer">
		<div class="ui footer segment form-page">
			<div class="ui grid">
				<div class="eight wide column">
					<p>Copyright {{yearDisplay}} | Carefully Crafted By <a href="http://bobbylcraig.com">Bobby Craig</a> | <a href="http://github.com/bobbylcraig"><i class="github icon black"></i></a></p>
				</div>
				<div class="eight wide column" align="right">
					A Denison Campus Governance Association Utility
				</div>
			</div>
		</div>
	</div>
</template>