body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica';
  color: #767676;
  background-color: #F5F5F5;
  transition: background-color 0.4s;
}

body.darken {
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
}

hr {
  border: 0;
  height: 0;
  margin-bottom: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

.textcenter {
  text-align: center;
}

/* Modals */

.partial-modal.darken {
  opacity: 0.5;
  pointer-events: none;
}

.full-modal.darken {
  opacity: 0.5;
  pointer-events: none;
}

.delete-org, .check-org {
  transition: color 0.2s;
  cursor: pointer;
}

.delete-org:hover {
  color: #f33535;
}

.check-org:hover {
  color: limegreen;
}

/* Sidebar */

.sidebar {
  position: fixed;
  border-right: 1px solid rgba(0,0,0,0.14);
  background: #FFF;
  color: #767676;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  width: 16em;
  z-index: 2;
  transition: width 0.2s;
  opacity: 1 !important;
}

.sidebar .logo-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.sidebar .logo-header .header-wrapper {
  padding: 1em 2em 1em 2em;
}

.sidebar .logo-header .header-wrapper .header-title {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar .logo-header .shrink {
  visibility: hidden;
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sidebar .logo-header .header-wrapper .header-title a {
  text-decoration: none;
}

.sidebar .logo-header .header-wrapper .header-title a:visited {
  color: inherit;
}

.sidebar .logo-header .header-wrapper .header-title a span {
  color: #F33535;
}

.sidebar .event-area {
  margin-top: 3em;
  padding: 2em 0 1em 0;
  transition: opacity 0.4s;
}

.sidebar .event-area ul .peak-card {
  cursor: pointer;
  height: 3em;
  padding: 0.2em 0.8em;
  line-height: 2.75em;
  vertical-align: middle;
  background-color: #fff;
  position: relative;
  font-size: 14px;
  transition: box-shadow 0.2s ease-in-out;
  transition: color 0.4s ease-in-out;
  z-index: 7;
}

.sidebar .event-area ul .peak-card:hover {
  background-color: #eee;
}

.sidebar .event-area .peak-card.ui-sortable-helper {
  z-index: 10;
  -moz-box-shadow: 0 0 15px #888 !important;
  -webkit-box-shadow: 0 0 15px #888 !important;
  box-shadow: 0 0 15px #888 !important;
}

.sidebar .event-area .peak-card .event-icon {
  display: block;
  position: absolute;
  left: 0.8em;
  top: 0.55em;
  font-size: 1.5em;
}

.sidebar .event-area .peak-card .event-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 3em;
}

.sidebar .event-area .priority-card {
  height: 3em;
  z-index: 2;
  color: #33425b;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

.sidebar .event-area .priority-card .priority-icon {
  display: none;
}

.sidebar .event-area .priority-card .priority-name {
  display: block;
}

/* Main Content Area */

.main {
  position: absolute;
  top: 0;
  margin-left: 16em;
  z-index: 0;
  width: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: margin-left 0.2s;
  background-color: #F5F5F5;
}

.header {
  background-color: #F33535;
  box-shadow: 0 3px 5px rgba(0,0,0,0.26);
  height: 4em;
  left: 16em;
  right: 0;
  z-index: 10;
  position: fixed;
  transition: 0.4;
}

.header .header-wrapper {
  padding: 1em 2em 1em 2em;
}

.header .header-wrapper .header-title {
  color: #fff;
  position: relatve;
  float: left;
  white-space: nowrap;
}

.header .header-wrapper .header-year {
  color: #fff;
  position: relatve;
  float: left;
  white-space: nowrap;
  margin-top: 1.5em;
  margin-left: -6em;
  font-size: 0.5em;
}

.header .header-wrapper .hamburger-menu {
  color: #fff;
  position: relatve;
  float: right;
  cursor: pointer;
  width: 2em;
  height: 2em;
  pointer-events: all !important;
}

.sub-header {
  position: fixed;
  top: 4em;
  left: 16em;
  right: 0;
  z-index: 1;
  height: 4em;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  box-shadow: 0 3px 5px rgba(0,0,0,0.26);
}

.sub-header .column {
  height: inherit;
  border-right: 1px solid rgba(0,0,0,0.14);
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  float: left;
  vertical-align: middle;
  line-height: 4em;
}

.sub-header .column.turn-column {
  padding-left: 0;
  padding-right: 0;
}

.sub-header .column.turn-column .turn-text {
  transform: rotate(270deg);
  font-size: 0.5em;
  padding: 0;
}

/* Navigation Sidebar */

.nav-sidebar {
  position: fixed;
  margin-top: 4em;
  width: 16em;
  border-left: 1px solid rgba(0,0,0,0.14);
  padding-bottom: 8em;
  top: 0;
  bottom: 0;
  right: -18em;
  z-index: 14;
  background: white;
  transition: right 0.4s;
}

.nav-sidebar.show {
  right: 0em;
}

.nav-sidebar ul {
  list-style: none;
}
.nav-sidebar li {
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  height: 3em;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  cursor: pointer;
}

.nav-sidebar li:hover {
  background-color: rgba(0,0,0,0.05);
}

.nav-sidebar .footer {
  position: absolute;
  height: 8em;
  width:inherit;
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.14);
  padding-top: 1em;
  background: url(https://d2mfqolawl485u.cloudfront.net/sites/all/themes/denison/images/background_dots_swatch_news_sidebar.png) repeat 0 0;
}

.nav-sidebar .footer input {
  margin-left: 5%;
  width: 90%;
  padding: 0.5em;
  border-radius: 5px;
}

.nav-sidebar .footer a {
  color: #f33535;
}

.nav-sidebar .footer a:hover {
  text-decoration: underline;
}

/* END NAV SIDEBAR */

.main .content {
  /* PADDING-TOP IS IN HTML FILE */
  margin-bottom: 6em;
  transition: opacity 0.4s;
}

.main .content .content-area {
  padding: 1em;
}

.main .content .event-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.26);
  margin: 1.5em;
  z-index: 1;
}

.main .content .event-card .card-top {
  border-bottom: 1px solid rgba(0,0,0,0.14);
  height: 4em;
  position: relative;
}

.main .content .event-card .card-top .card-top-column {
  height: inherit;
  border-right: 1px solid rgba(0,0,0,0.14);
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  float: left;
  vertical-align: middle;
  line-height: 4em;
}

.main .content .event-card .card-top .card-top-column.turn-column {
  padding-left: 0;
  padding-right: 0;
}

.main .content .event-card .card-top .card-top-column .turn-text {
  transform: rotate(270deg);
  font-size: 0.5em;
  padding: 0;
}

.main .content .event-card .card-top .card-top-column.card-title {
  float: none;
  position: relative;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-cross {
  position: relative;
  float: right;
  margin-right: -0.9em;
  cursor: pointer;
}

.delete-cross:hover {
  color: #f33535;
}

#add-expenditure-button, #delete-expenditure-button, #delete-event-button, .event-visibility {
  cursor: pointer;
}

.main .content .event-card .card-content {
  padding: 1em 2em 1em 2em;
}

.main .content .event-card .card-content .detail-heading, .main .content .expenditure-card .body .detail-heading {
  font-size: 0.8em;
  line-height: 1.5;
}

.main .content .event-card .card-content .detail.textarea, .main .content .expenditure-card .body .detail.textarea {
  white-space: pre-wrap !important;
}

.editable input {
  width: 100% !important;
  border: 0;
  padding: 1em 0.5em;
  font-weight: normal;
  font-size: inherit;
  background-image: -webkit-linear-gradient(bottom, #f33535 2px, rgba(29, 139, 144, 0) 2px), -webkit-linear-gradient(bottom, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  background-image: linear-gradient(to top, #f33535 2px, rgba(29, 139, 144, 0) 2px), linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  background-size: 0 100%, 100% 100%;
  background-repeat: repeat-y;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0s ease-out;
  transition: background 0s ease-out;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.editable-input:hover, .editable-textarea:hover, .editable-select:hover, .editable-masked:hover {
  background-color: rgba(255, 255, 0, 0.5);
  cursor: pointer;
}

.editable input:focus {
  outline: 0;
  background-size: 100% 100%, 100% 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.editable textarea {
  width: 100% !important;
  border: 0;
  padding: 1em 0.5em;
  font-weight: normal;
  font-size: inherit;
  background-image: -webkit-linear-gradient(bottom, #f33535 2px, rgba(29, 139, 144, 0) 2px), -webkit-linear-gradient(bottom, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  background-image: linear-gradient(to top, #f33535 2px, rgba(29, 139, 144, 0) 2px), linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  background-size: 0 100%, 100% 100%;
  background-repeat: repeat-y;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0s ease-out;
  transition: background 0s ease-out;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  resize: none;
}

.editable textarea:focus {
  outline: 0;
  background-size: 100% 100%, 100% 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn {
  font-size: 1em;
  margin-top: 1em;
  margin-right: 1em;
  text-align: center;
  top: 1em;
  right: 7em;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  padding: 0.5em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  color: white;
  border: 0;
  cursor: pointer;
  outline:none;
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.btn:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28), 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.btn.submit {
  background-color: #f33535;
}

.circle-button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 10em;
  right: 5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #f33535;
  color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  padding: 0.75em;
  box-sizing: border-box;
}

.circle-button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.expenditure-card {
  padding: 0em 1.5em 0em 1.5em;
  z-index: 4 !important;
}

/* Button Ripple */

.ripple {
  overflow: hidden;
}

.ripple .rippling {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: .3;
  transform: translate3d(-50%, -50%, 0);
}

.click-dropdown {
  cursor: pointer;
}

.title-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* Dropdown */

.title-dropdown ul {
	position:relative;
	float:left;
	margin:0;
	padding:0;
  z-index: 12;
}

.title-style {
  color: white;
  font-weight: 400;
	font-size: 1.5em;
  line-height: 2.5em;
  margin-top: -0.5em !important;
}

.title-dropdown ul a {
	display: block;
	text-decoration: none;
	padding: 0 0.2em;
}

.title-dropdown ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

.title-dropdown ul ul {
	display:none;
	position:absolute;
  color: #000;
  background-color: #fff;
	left:0;
	padding:0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  font-weight: 400;
	font-size: 0.8em;
}

.title-dropdown ul ul li {
	float: none;
	width: 8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title-dropdown ul ul li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-dropdown ul ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.title-dropdown ul ul a {
	line-height: 120%;
	padding: 0.5em 0.75em;
}

.title-dropdown ul ul ul {
	top: -1em;
	left:100%;
  width: 15em;
  max-height: 24em;
  overflow: scroll;
  overflow-y: scroll;
}

.title-dropdown ul ul ul li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title-dropdown ul ul ul li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-dropdown ul ul ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.title-dropdown ul li:hover > ul {
	display:block
}

/* Hamburger Menu */

.hamburger-menu .bar,
.hamburger-menu .bar:after,
.hamburger-menu .bar:before {
  width: 2em;
  height: .2em;
}

.hamburger-menu .bar {
  position: relative;
  transform: translateY(0.9em);
  background: white;
  transition: all 0ms 300ms;
}
.hamburger-menu .bar.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5em;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Collapse Card */

.collapse-card {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  color: inherit;
  -webkit-transition: box-shadow 0.4s, transform 0.3s, margin 0.4s;
  -moz-transition: box-shadow 0.4s, transform 0.3s, margin 0.4s;
  -o-transition: box-shadow 0.4s, transform 0.3s, margin 0.4s;
  transition: box-shadow 0.4s, transform 0.3s, margin 0.4s;
  box-shadow: 0 0 4px rgba(0,0,0,0.18);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.18);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.18);
}

.collapse-card.ui-sortable-helper, .collapse-card.ui-sortable-helper.active  {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.28), 0 3px 18px 0 rgba(0, 0, 0, 0.25);
  z-index: 30;
}

.collapse-card .top {
  height: 4em;
  cursor: pointer;
  transition: border-bottom 0.5s;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.collapse-card .top .title {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding-right: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse-card .title .card-top-column {
  height: inherit;
  border-right: 1px solid rgba(0,0,0,0.14);
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  float: left;
  vertical-align: middle;
  line-height: 4em;
}

.collapse-card .title .card-top-column.turn-column {
  padding-left: 0;
  padding-right: 0;
}

.collapse-card .title .card-top-column .turn-text {
  transform: rotate(270deg);
  font-size: 0.5em;
  padding: 0;
}

.collapse-card .title .card-top-column.card-title {
  float: none;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapse-card .top span {
  left: 95%;
  position: absolute;
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapse-card .body {
  padding: 1em 2em 1em 2em;
  font-size: 1em;
  display: none
}

.collapse-card * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collapse-card.active {
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  z-index: 10;
  margin: 0.5em -0.5em;
}

.collapse-card.active .top {
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

/* Add Button Stuff */

.container {
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 900;
  display: block;
}

nav.container :only-child:not(.material-icons) {
  display: none;
}

.container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  transform: rotate(90deg);
  transition: .3s;
  display: block;
}

.container:hover .rotate {
  transform: rotate(0deg);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
  color: #fff;
  background-color: #f33535;
}

.buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}

.buttons:nth-last-of-type(3) {
  transition-delay: 40ms;
}

.buttons:nth-last-of-type(4) {
  transition-delay: 60ms;
}

.buttons:nth-last-of-type(5) {
  transition-delay: 80ms;
}

.buttons:nth-last-of-type(6) {
  transition-delay: 100ms;
}

.buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}

#viewed-event.buttons {
  background-color: #f33535 !important;
}

#unviewed-event.buttons {
  background-color: #000 !important;
}

.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.red {
  color: #f33535;
}

[tooltip]:hover:before, [tooltip-delete]:hover:before {
  visibility: visible;
  opacity: 1;
}

[tooltip-delete]:before {
  content: attr(tooltip-delete);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

@media screen and (max-width: 767px) {
  .collapse-card .top .card-top-column:not(.card-title) {
    display: none;
  }
  .collapse-card .top .card-top-column.turn-title {
    display: block;
  }
}

/* Responsive */

@media screen and (max-width: 1025px) {
  .sidebar {
    width: 5em;
  }

  .not-mobile {
    display: none;
  }

  .main {
    margin-left: 5em;
  }

  .main .content {
    padding-top: 4em !important;
  }

  .header, .sub-header {
    left: 5em;
  }

  .sub-header {
    display: none;
  }

  .sidebar .logo-header .header-wrapper {
    visibility: hidden;
  }

  .sidebar .logo-header .shrink {
    visibility: visible;
  }

  .visited-button, .delete-button {
    display: none;
  }

  .main .content .event-card .card-top .card-top-column.card-title {
    padding-right: 1em;
  }

  .sidebar .event-area {
    padding: 1em;
  }

  .sidebar .event-area .priority-card {
    border: none;
  }

  .sidebar .event-area .priority-card .priority-name {
    display: none;
  }

  .sidebar .event-area .priority-card .priority-icon {
    display: block;
    margin-left: -0.10em;
  }

  .sidebar .event-area ul .peak-card {
    width: 3.25em;
    margin-left: 0.2em;
    margin-top: 0.5em;
    border: none;
    background-color: #f33535;
    color: #fff;
    box-sizing: border-box;
  }

  .sidebar .event-area ul .peak-card, .sidebar .event-area div.peak-card {
    padding: 0.75em;
    border-radius: 50%;
  }

  .sidebar .event-area .peak-card .event-icon {
    padding: 0.4em;
    position: absolute;
    left: 0.22em;
    top: 0.15em;
  }

  .sidebar .event-area .peak-card .event-name {
    display: none;
  }
  .year-org {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .title-dropdown-option {
  	display: none;
  }

  .header, .sub-header {
    left: 0;
  }

  .sidebar {
    width: 0em;
    visibility: hidden;
  }
  .sidebar .logo-header .shrink {
    visibility: hidden;
  }
  .main {
    margin-left: 0em;
  }
  .main .content .event-card .card-top .card-top-column:not(.card-title) {
    display: none;
  }
  .main .content .event-card .card-top .card-top-column.turn-title {
    display: block;
  }
}

/* GRID LAYOUT */

.tile {
  float: left;
  width: 99%;
  margin-left: 1%;
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  min-height: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
}

.grid {
  margin-left: -1.25%;
  *zoom: 1;
}

.all-4 {
  width: 32.33333333%;
}

@media only screen and (min-width: 481px) {
  .tablet-4 {
    width: 31.33333333%;
  }
  .tablet-6 {
    width: 48%;
  }
  .tablet-8 {
    width: 64.66666667%;
  }
  .tablet-12 {
    width: 98%;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-4 {
    width: 32.33333333%;
  }
  .desktop-6 {
    width: 49%;
  }
  .desktop-8 {
    width: 64.66666667%;
  }
  .desktop-12 {
    width: 99%;
  }
}

.front {
  margin-right: 16em;
}

.front .pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}

.front .pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

.front .pen-title span {
  font-size: 12px;
}

.front .pen-title span .fa {
  color: #f33535;
}

.front .pen-title span a {
  color: #f33535;
  font-weight: 600;
  text-decoration: none;
}

/* Container */
.front .container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}

.front .container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}

.front .container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}

.front .container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}

.front .container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.front .container.active .card.alt .toggle:before {
  content: '';
}

.front .container.active .card.alt .title,
.front .container.active .card.alt .input-container,
.front .container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.front .container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.front .container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.front .container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.front .container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.front .card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.front .card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #f33535;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #f33535;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.front .card .input-container {
  position: relative;
  margin: 0 60px 50px;
}

.front .card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}

.front .card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
  z-index: 8;
}

.front .card .input-container input:focus ~ .bar:before, .front .card .input-container input:focus ~ .bar:after {
  width: 50%;
}

.front .card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
  z-index: 8;
}

.front .card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.front .card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}

.front .card .input-container .bar:before, .front .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #f33535;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.front .card .input-container .bar:before {
  left: 50%;
}

.front .card .input-container .bar:after {
  right: 50%;
}

.front .card .button-container {
  margin: 0 60px;
  text-align: center;
}

.front .card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #f33535;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card .button-container button:hover, .front .card .button-container button:active, .front .card .button-container button:focus {
  border-color: #f33535;
}

.front .card .button-container button:hover span, .front .card .button-container button:active span, .front .card .button-container button:focus span {
  color: #f33535;
}

.front .card .button-container button:active span, .front .card .button-container button:focus span {
  color: #ffffff;
}

.front .card .button-container button:active:before, .front .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

.front .card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.front .card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card .footer a:hover {
  color: #bababa;
}

.front .card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  min-height: 100%;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.front .card.alt .toggle {
  position: relative;
  background: #f33535;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}

.front .card.alt .toggle:before {
  content: 'Notify';
  display: inline-block;
  font: Roboto;
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.front .card.alt .title,
.front .card.alt .input-container,
.front .card.alt .button-container {
left: 100px;
opacity: 0;
visibility: hidden;
}

.front .card.alt .title {
position: relative;
border-color: #ffffff;
color: #ffffff;
}

.front .card.alt .title .close {
cursor: pointer;
position: absolute;
top: -70px;
right: 5px;
display: inline;
color: #ffffff;
font-size: 58px;
font-weight: 400;
}

.front .card.alt .title .close:before {
  content: ' ';
  border-left: 100px solid transparent;
  border-right: 100px solid white;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
  right: -5px;
  z-index: -3;
}

.front .card.alt .title .close:after {
  position: absolute;
  top: 0;
  right: 3px;
  color: #f33535;
  content: '\00d7';
}

.front .card.alt .input-container input {
  color: #ffffff;
}

.front .card.alt .input-container input:focus ~ label {
  color: #ffffff;
}

.front .card.alt .input-container input:focus ~ .bar:before, .front .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}

.front .card.alt .input-container input:valid ~ label {
  color: #ffffff;
}

.front .card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}

.front .card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}

.front .card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}

.front .card.alt .button-container button span {
  color: #f33535;
}

.front .card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.front .card.alt .button-container button:active:before, .front .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.front input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 500px white inset;
  z-index: -4;
}

/* Table Styles */

.table {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-size: 0.8em;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0.5rem;
}
.table-bordered {
  border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #eee;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-top: 1rem;
  }
  .table-responsive-vertical > .table > tbody > tr:first-child {
    display: block;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-top: 0rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }
  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #eee;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #fff;
  }
}
